<nav class="navbar navbar-main">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand icon icon-icon-sbs-logo" href="{{ path('homepage') }}"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('products') }}">{{ 'navbar.products' | trans }}</a></li>
            <li><a href="#">{{ 'navbar.new' | trans }}</a></li>
            <li><a href="#">{{ 'navbar.promo' | trans }}</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ ('navbar.language.' ~ app.request.locale) | trans }}<i class="icon icon-caret-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                </ul>
            </li>

        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
